rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /{document=**} {
      allow read, write: if false;
    }
    match /games/{id} {
      allow read, write: if request.auth.uid == id;
    }
    match /test/{id} {
      allow read, write: if request.auth.uid == id;
    }
    match /users/{id}/{document=**} {
      allow read, write: if request.auth.uid == id;
    }
  }
}
